body {
    font-family: 'Iosevka Web';
    font-weight: 350;
    font-size: 18px;
    background-color: #fbf1c7;
}
.wrapper {
    max-width: 800px;
    margin: auto;
    padding: 60px 30px 60px 30px;
}
.header {
    display: flex;
    justify-content: space-between;
    jistify-items: center;
    align-items: center;
}
p {
    text-align: justify; /* Alignment in width */
}
ul {
    list-style: none;
}
h1 {
    color: #61ACBB;
}
h2 {
    color: #d79921;
}
h3 {
    color: #b16286;
}
p {
    color: #1d2021;
}
a {
    color: #689d6a;
}

.img-wrapper {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.comment {
    color: #a89984;
    float: right;
}
.no-align {
    padding-left: 0;
}
.about {
    border: 1px solid #000;
    margin: 0px 15px 0px 15px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
}
